include ./shared/slide_mixins

+slideGroup
  +bigTitleSlide("Collaboration")

  +slide
    h3 Github
    img(src="images/codercat.jpg", style="width:60%; height:60%;")

  +bigTitleSlide("GitHub")
    :markdown
      My personal favorite. Great performance and reliable features

  +bigTitleSlide("Features")
    :markdown
      - Popularized the PR (Pull Request)
      - Popularized Forking
      - Popularized Markdown as a documentation style
      - Code first
      - Its for developers (Unlike Sourceforge)

  +bigTitleSlide("What is a PR")
    :markdown
      A `pull request` is a method of submitting contributions to an open source project.

      More specifically it allows you to contribute code to a project that you do not own and do not have write access to.

  +bigTitleSlide("Open Source Projects")
    :markdown
      The first step in being a contributor to a Open Source Project is to read their contributor guidelines, look at issues, and open pull requests

  +imageSlide("Step one Fork", "images/fork.png")

  +littleTitleSlide("Step two Clone")
    :markdown
      __git clone repo_url__

  +imageSlide("Where is the Clone URL", "images/clone-url.png")

  +littleTitleSlide("Step three Make a branch")
    :markdown
      __git checkout -b pks/best_feature_evar__

  +littleTitleSlide("Step four Commit")
    :markdown
      __git add .__

      __git commit -m"I do great  work"__

  +littleTitleSlide("Step five Push")
    :markdown
      __git push origin/master__

  +littleTitleSlide("Step six Open your Pull Request")
    :markdown
      Back to Github

  +imageSlide("Compare Branches", "images/pull-request.png")
  +imageSlide("Create Pull Request", "images/open-pr.png")
  +imageSlide("Its Alive", "images/created-pr.png")

  +bigTitleSlide("Lets Try It")
