- var revealLocation = 'bower_components/reveal.js/'
- var titleData = { title: "", subtitle: "", author: "Paul Scarrone", twitter: "@PaulSCoder", email: "paul.scarrone@gmail.com" }
doctype html
html(lang="en")

  include ./shared/slide_mixins

  include ./shared/head
  include ./title_slide

  link(rel='external' type='text/html' src="./shared/head.jade")
  link(rel='stylesheet', href='fonts/back-to-the-future-font/stylesheet.css')

  body
    .reveal
      .slides
        +imageSlide("", "images/git-to-the-future-delorean-small.png")
        +titleSlide(titleData)
        +bigTitleSlide("Goals")
          :markdown
            - Understand repositories
            - Time travel is hard, Git makes it easy
            - Git tools
            - Working with others (Pull Requests)
            - Avoiding conflicts
            - Recipes

        +bigTitleSlide("You are going to be great at Git")
          :markdown
            How do you get to Carnegie Hall?

        +bigTitleSlide("Installing Git")
            :markdown
              - Windows - https://git-scm.com/download/win
              - OSX - Built-in (Xcode and Command Line Tools)
              - Linux - through your package manager if not built-in

        +slideGroup
          +bigTitleSlide("Spite driven development")
            :markdown
              ### A story as old as time

          +bigTitleSlide("Git features")
            :markdown
              - Speed
              - Simple design
              - Strong support for non-linear development (thousands of parallel branches)
              - Fully distributed
              - Able to handle large projects like the Linux kernel efficiently (speed and data size)

            +speakerNotes
              :markdown
                The Linux kernel is an open source software project of fairly large scope. For most of the lifetime of the Linux kernel maintenance (1991–2002), changes to the software were passed around as patches and archived files. In 2002, the Linux kernel project began using a proprietary DVCS called BitKeeper.
                In 2005, the relationship between the community that developed the Linux kernel and the commercial company that developed BitKeeper broke down, and the tool’s free-of-charge status was revoked. This prompted the Linux development community (and in particular Linus Torvalds, the creator of Linux) to develop their own tool based on some of the lessons they learned while using BitKeeper. Some of the goals of the new system were as follows:

          +littleTitleSlide("Since its birth in 2005, Git has evolved and matured to be easy to use and yet retain these initial qualities. ")

          +imageSlide("Wait did you say EASY?", "images/surprise.jpg")

          +bigTitleSlide("Take it one step at a time")

        include repositories

        include time_travel

        include tools

        include collaboration

        include avoid_conflicts

        include my_recipe

        +titleSlide(titleData)

    include ./shared/footer
