- var revealLocation = 'bower_components/reveal.js/'
- var titleData = { title: "Git To The Future", subtitle: "", author: "Paul Scarrone", twitter: "@PaulSCoder", email: "paul.scarrone@gmail.com" }
doctype html
html(lang="en")

  include ./shared/slide_mixins

  include ./shared/head
  include ./title_slide

  link(rel='external' type='text/html' src="./shared/head.jade")
  link(rel='stylesheet', href='fonts/back-to-the-future-font/stylesheet.css')

  body
    .reveal
      .slides
        +titleSlide(titleData)
        +bigTitleSlide("Goals")
          :markdown
            - Understand repositories
            - Time travel is hard, Git is easy
            - Git tools and commands
            - Working with others (Merging)
            - Avoiding conflicts

        +bigTitleSlide("You are going to be great at Git")
        +imageSlide("What did you just say?", "images/surprise.jpg")
        +slideGroup
          +bigTitleSlide("Installing Git")
            :markdown
              - Windows - https://git-scm.com/download/win
              - OSX - Built-in
              - Linux - through your package manager if not built-in

          +bigTitleSlide("")

        +slideGroup
          +bigTitleSlide("Repositories")

        +slideGroup
          +bigTitleSlide("Time Travel")

        +slideGroup
          +bigTitleSlide("Tools")

        +slideGroup
          +bigTitleSlide("Collaboration")

        +slideGroup
          +bigTitleSlide("Avoiding Conflicts")


    include ./shared/footer
