include ./shared/slide_mixins

+slideGroup
  +bigTitleSlide("My Recipes")

  +bigTitleSlide("New Project")
   :markdown
    - Make a new folder on your computer and start working
    - When something builds initialize your repo
      - git init
      - git add .
      - git commit -m "Starting working on awesome project"
    - Go to Github and click new repo
    - Do not initialize with a Readme
    - Copy the second block of git commands
    - Paste them into your terminal
    - Party!

  +bigTitleSlide("Try It!")

  +bigTitleSlide("Existing Project")
