include ./shared/slide_mixins

+slideGroup
  +bigTitleSlide("Repositories")
    :markdown
      Your own small universe

      Command: __git init__

    +speakerNotes
      :markdown
        What goes in your universe. Time and History. Lives and the changes they undergo

  +imageSlide("What is this distributed thing?", "images/distributed-version-control-system-white.png")

  +bigTitleSlide("Vocabulary")
    :markdown
      - Push
      - Pull
      - Local
      - Remote
      - Working Copy

    +speakerNotes
      :markdown
        - Send your changes from Local to the Remote
        - Bring the changes from Remote to the Local
        - Your personal copy of the repo on your local machine
        - Copy of your repo on a remote system (Many people share the same remote)
        - Changes to your local repo you have not pushed yet

  +bigTitleSlide("Staging")
    :markdown
      If our repo is a universe then major points in history are commits.
      A point in history is when something changes.
      What we stage becomes a commit and is added to the history.

      Command: __git add &lt;file or directory&gt;__

  +littleTitleSlide("Command")
    :markdown
      # git add src/save.rb

  +littleTitleSlide("Common Command")
    :markdown
      # git add .

  +bigTitleSlide("Commit")
    :markdown
      Commits tell a story so they require a __message__ and a series of messages
      makes a __history__

      Command: __git commit -m"&lt;What you changed&gt;"__

  +littleTitleSlide("Command")
    :markdown
      # git commit -m"Added awesome feature that saved mankind"

  +littleTitleSlide("History")
    :markdown
      <video width="720" height="540" controls>
        <source src="videos/gittothefuture.m4v" type="video/mp4">
      Your browser does not support the video tag.
      </video>

  +bigTitleSlide("Branches")
    :markdown
      An infinite number of alternative 1985s

      Our reality is called __master__

      We can create other realities whatever we want

      Command: __git checkout -b &lt;branch name&gt;__

    +speakerNotes
      :markdown
        What are branches really. They are folders that you can switch between safely

  +littleTitleSlide("Command")
    :markdown
      # git checkout -b pks/save_world

  +bigTitleSlide("Lets give it a try")
    :markdown
      <a target="_blank" href="https://try.github.io/levels/1/challenges/1">https://try.github.io</a>
