include ./shared/slide_mixins

+slideGroup
  +imageSlide("Time Travel", "images/time-machine-reading-1.png")
  +littleTitleSlide("How do we observe time in git?")
    include:markdown code/log.md
    :markdown
      Command: __git log__

  +littleTitleSlide("Command")
    :markdown
      # git log

  +imageSlide("Lets take another look", "images/git_commit.png")
    :markdown
      by xkcd

  +littleTitleSlide("Give a hoot, don't pollute")
    :markdown
      #### Your master branch
      - Start all work on a new branch
      - Name your branch the big picture of the work it will contain
      - Keep your work on topic

      Command: __git checkout -b my_feature__

  +littleTitleSlide("Add some commits")
    :markdown
      #### On your feature branch
      - Add a new file called 'first_file.txt' and put some text in it
      - Stage the file
      - Create a commit with the staged files

      Command: __git add first_file.txt__

      Command: __git commit -m"Added first_file"__

  +bigTitleSlide("Congratulations master of time")

  +bigTitleSlide("Changing Branches")
    :markdown
      Branches represent alternate histories

      Command: __git branch__

    include:markdown code/listing_branches.md
    :markdown
      Command: __git checkout &lt;branch name&gt;__

    include:markdown code/changing_branches.md

  +littleTitleSlide("Command")
    :markdown
      # git branch

  +littleTitleSlide("Command")
    :markdown
      # git checkout my_feature

  +imageSlide("Welcome Time Traveler", "images/btf.jpg")

  +bigTitleSlide("Checkout")
    :markdown
      You can move files between branches

      Command: __git checkout master -- file__

  +bigTitleSlide("Checkout")
    :markdown
      Or just go back to the last time you committed a file

      Command: __git checkout -- file__

  +bigTitleSlide("Reset")
    :markdown
      You can remove all of your changes and go back to a clean working copy

      Command: __git reset --hard HEAD__

  +bigTitleSlide("Reset")
    :markdown
      Or unstage something you staged with __add__

      Command: __git reset file__

  +bigTitleSlide("Reset Example")
    include:markdown code/reset/unstaged.md
    :markdown
      Command: __git add .__

  +bigTitleSlide("Reset Example")
    include:markdown code/reset/staged.md
    :markdown
      Command; __git reset git reset time_travel.jade__

  +bigTitleSlide("Reset Example")
    include:markdown code/reset/unstaged.md
