include ./shared/slide_mixins

+slideGroup
  +bigTitleSlide("Tools")
    :markdown
      What is life without good tools to simplify our activities

  +bigTitleSlide("GUI's")
    :markdown
      Git is a command line utility in the Linux tradition but no one said you have to use the command line.

      ## Don't let anybody tell you how to work.

  +imageSlide("Git Gui", "images/git-gui-stage.jpg")
    :markdown
      This one is packaged with Git

  +littleTitleSlide("Command")
    :markdown
      # git gui

  +imageSlide("Github Desktop", "images/branches-popup.png")

  +bigTitleSlide("And Many More")
    :markdown
      [Other Gui Clients](https://git-scm.com/download/gui/win)
